<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="customAppSettingsGroup">
      <section name="FilesToChangeNumConfig" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="FilesToChangeNumXML" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="FilesToChangeName" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="IPs" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SimA" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SimB" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SimC1" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SimC2" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SimD171" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SimD175" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <customAppSettingsGroup>

    
    
    
    
   
    <!--CompoterName for rootconfig is the key in the Sites list (List "SiteA" first station's name is "Main-IOS")-->
    <!--StationID for other XML or config files is the value of that line-->

    <!--All the values and keys can be deleted, you can add more and update the existing-->
    
    
    <!--TO ADD STATIONS- add them in the relevent part in the IPs List and in it's site List-->
    <!--IMPORTANT!!!!!!  Add the station in the same place in the IPs list and the site list!!!!-->
    <!--FOR EXAMPLE: Trainee8_SimA is located last in the Sim A part in the IPs List and also last in Site A list as "Trainee1"-->


    <!--***************EDIT FROM HERE*************************-->

    <IPs>
      <!--SIM A-->
      <add key="MainIOS_SimA" value="192.168.0.150"/>
      <add key="SeconderyIOS_SimA" value="192.168.0.151"/>
      <add key="Trainee1_SimA" value="192.168.0.201"/>
      <add key="Trainee2_SimA" value="192.168.0.202"/>
      <add key="Trainee3_SimA" value="192.168.0.203"/>
      <add key="Trainee4_SimA" value="192.168.0.204"/>
      <add key="Trainee5_SimA" value="192.168.0.205"/>
      <add key="Trainee6_SimA" value="192.168.0.206"/>
      <add key="Trainee7_SimA" value="192.168.0.207"/>
      <add key="Trainee8_SimA" value="192.168.0.208"/>
      <!--SIM B-->
      <add key="MainIOS_SimB" value="192.168.0.150"/>
      <add key="SeconderyIOS_SimB" value="192.168.0.151"/>
      <add key="Trainee1_SimB" value="192.168.0.201"/>
      <add key="RolePlayer_SimB" value="192.168.0.202"/>
      <add key="DomeTrainee1_SimB" value="192.168.0.171"/>
      <add key="DomeTrainee2_SimB" value="192.168.0.172"/>
      <!--SIM C1-->
      <add key="MainIOS_SimC1" value="192.168.0.172"/>
      <add key="SeconderyIOS_SimC1" value="192.168.0.172"/>
      <add key="Trainee1_SimC1" value="192.168.0.201"/>
      <add key="Trainee2_SimC1" value="192.168.0.202"/>
      <add key="Trainee3_SimC1" value="192.168.0.203"/>
      <add key="Trainee4_SimC1" value="192.168.0.204"/>
      <add key="Trainee5_SimC1" value="192.168.0.205"/>
      <add key="Trainee6_SimC1" value="192.168.0.206"/>
      <add key="Pilot_SimC1" value="192.168.0.207"/>
      <add key="RolePlayer1_SimC1" value="192.168.0.208"/>
      <add key="RolePlayer2_SimC1" value="192.168.0.209"/>

      <!--SIM C2-->
      <add key="MainIOS_SimC2" value="192.168.0.172"/>
      <add key="SeconderyIOS_SimC2" value="192.168.0.172"/>
      <add key="Trainee1_SimC2" value="192.168.0.201"/>
      <add key="Trainee2_SimC2" value="192.168.0.202"/>
      <add key="Trainee3_SimC2" value="192.168.0.203"/>
      <add key="Trainee4_SimC2" value="192.168.0.204"/>
      <add key="Trainee5_SimC2" value="192.168.0.205"/>
      <add key="Trainee6_SimC2" value="192.168.0.206"/>
      <add key="Pilot_SimC2" value="192.168.0.207"/>
      <add key="RolePlayer1_SimC2" value="192.168.0.208"/>
      <add key="RolePlayer2_SimC2" value="192.168.0.209"/>
      
      
      <!--SIM D 171-->
      <add key="MainIOS_SimD171" value="192.168.0.172"/>
      <add key="SeconderyIOS_SimD171" value="192.168.0.172"/>
      <add key="Trainee1_SimD171" value="192.168.0.201"/>
      <add key="Trainee2_SimD171" value="192.168.0.202"/>
      <add key="Trainee3_SimD171" value="192.168.0.203"/>
      <add key="Trainee4_SimD171" value="192.168.0.204"/>
      <add key="Trainee5_SimD171" value="192.168.0.205"/>
      <add key="Trainee6_SimD171" value="192.168.0.206"/>
      <add key="RolePlayer1_SimD171" value="192.168.0.207"/>
      <add key="RolePlayer2_SimD171" value="192.168.0.208"/>
      <add key="RolePlayer3_SimD171" value="192.168.0.209"/>
      <add key="RolePlayer4_SimD171" value="192.168.0.210"/>
      <add key="RolePlayer5_SimD171" value="192.168.0.211"/>
      <add key="RolePlayer6_SimD171" value="192.168.0.212"/>
      <add key="DomeTrainee1_SimD171" value="192.168.0.171"/>
      <add key="DomeTrainee1_SimD171" value="192.168.0.172"/>
      <add key="DomeTrainee1_SimD171" value="192.168.0.173"/>

      <!--SIM D 175-->
      <add key="MainIOS_SimD171" value="192.168.1.172"/>
      <add key="SeconderyIOS_SimD171" value="192.168.1.172"/>
      <add key="Trainee1_SimD171" value="192.168.1.201"/>
      <add key="Trainee2_SimD171" value="192.168.1.202"/>
      <add key="Trainee3_SimD171" value="192.168.1.203"/>
      <add key="Trainee4_SimD171" value="192.168.1.204"/>
      <add key="Trainee5_SimD171" value="192.168.1.205"/>
      <add key="Trainee6_SimD171" value="192.168.1.206"/>
      <add key="RolePlayer1_SimD171" value="192.168.1.207"/>
      <add key="RolePlayer2_SimD171" value="192.168.1.208"/>
      <add key="RolePlayer3_SimD171" value="192.168.1.209"/>
      <add key="RolePlayer4_SimD171" value="192.168.1.210"/>
      <add key="RolePlayer5_SimD171" value="192.168.1.211"/>
      <add key="RolePlayer6_SimD171" value="192.168.1.212"/>
      <add key="DomeTrainee1_SimD171" value="192.168.1.171"/>
      <add key="DomeTrainee1_SimD171" value="192.168.1.172"/>
      <add key="DomeTrainee1_SimD171" value="192.168.1.173"/>
    </IPs>


    <SimA>
      <add key="Main-IOS" value="100A" />
      <add key="Secondary-IOS" value="101A"/>
      <add key="Trainee1" value="103A"/>
      <add key="Trainee2" value="104A" />
      <add key="Trainee3" value="105A" />
      <add key="Trainee4" value="106" />
      <add key="Trainee5" value="107" />
      <add key="Trainee6" value="108" />
      <add key="Trainee7" value="109" />
      <add key="Trainee8" value="110"/>
    </SimA>

    <SimB>
      <add key="Main-IOS" value="100b"/>
      <add key="Secondary-IOS" value="101b"/>
      <add key="Trainee1" value="102b"/>
      <add key="Role Player1" value="103b"/>
      <add key="D-Trainee1" value="104b"/>
      <add key="D-Trainee2" value="105b"/>
    </SimB>


    <SimC1>
      <add key="Main-IOS" value="100c1"/>
      <add key="Secondery-IOS" value="101c1"/>
      <add key="Trainee1" value="102c1"/>
      <add key="Trainee2" value="103c1"/>
      <add key="Trainee3" value="104c1"/>
      <add key="Trainee4" value="105c1"/>
      <add key="Trainee5" value="106c1"/>
      <add key="Trainee6" value="107c1"/>
      <add key="Pilot" value="108c1"/>
      <add key="Role-Player 2" value="109c1"/>
      <add key="Role-Player 3" value="110c1"/>
    </SimC1>
    
    <SimC2>
      <add key="Main-IOS" value="100c2"/>
      <add key="Secondery-IOS" value="101c2"/>
      <add key="Trainee1" value="102c2"/>
      <add key="Trainee2" value="103c2"/>
      <add key="Trainee3" value="104c2"/>
      <add key="Trainee4" value="105c2"/>
      <add key="Trainee5" value="106c2"/>
      <add key="Trainee6" value="107c2"/>
      <add key="Pilot" value="108c2"/>
      <add key="Role-Player 2" value="109c2"/>
      <add key="Role-Player 3" value="110c2"/>
    </SimC2>

    <SimD171>
      <add key="Main-IOS" value="100d171"/>
      <add key="Secondery-IOS" value="101d171"/>
      <add key="Trainee1" value="102d171"/>
      <add key="Trainee2" value="103d171"/>
      <add key="Trainee3" value="104d171"/>
      <add key="Trainee4" value="105d171"/>
      <add key="Trainee5" value="106d171"/>
      <add key="Trainee6" value="107d171"/>
      <add key="Role-Player 1" value="108d171"/>
      <add key="Role-Player 2" value="109d171"/>
      <add key="Role-Player 3" value="110d171"/>
      <add key="Role-Player 4" value="111d171"/>
      <add key="Role-Player 5" value="112d171"/>
      <add key="Role-Player 6" value="113d171"/>
      <add key="D-Trainee1" value="114d171"/>
      <add key="D-Trainee2" value="115d171"/>
      <add key="D-Trainee3" value="116d171"/>
    </SimD171>

    <SimD175>
      <add key="Main-IOS" value="100d175"/>
      <add key="Secondery-IOS" value="101d175"/>
      <add key="Trainee1" value="102d175"/>
      <add key="Trainee2" value="103d175"/>
      <add key="Trainee3" value="104d175"/>
      <add key="Trainee4" value="105d175"/>
      <add key="Trainee5" value="106d175"/>
      <add key="Trainee6" value="107d175"/>
      <add key="Role-Player 1" value="108d175"/>
      <add key="Role-Player 2" value="109d175"/>
      <add key="Role-Player 3" value="110d175"/>
      <add key="Role-Player 4" value="111d175"/>
      <add key="Role-Player 5" value="112d175"/>
      <add key="Role-Player 6" value="113d175"/>
      <add key="D-Trainee1" value="114d175"/>
      <add key="D-Trainee2" value="115d175"/>
      <add key="D-Trainee3" value="116d175"/>
    </SimD175>
    
  




</customAppSettingsGroup>

</configuration>