<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="validator.xml" value="C:\Users\user\source\repos\Dll Validator\Dll Validator\validator.xml"/>
    <add key="username" value="student"/>
    <add key="password" value="Zaq1Xsw2"/>

  </appSettings>


</configuration>